
@{
    ViewBag.Title = "Quên mật khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    .form-control {
        background-color: transparent !important;
        border: none;
        border-bottom: solid 0.3px #01d28e !important;
        box-shadow: none;
        color: white !important;
    }


        .form-control .label {
            color: #01d28e !important;
        }


        .form-control input {
            color: white !important;
        }

    .wrap {
        background-color: transparent !important;
        border: none;
        box-shadow: none;
    }

    .form-control:focus {
        background-color: transparent !important;
        box-shadow: none;
    }

    .form-control:not(:placeholder-shown) {
        background-color: transparent !important;
    }
    a {
        text-decoration: none !important;
    }
</style>
<script src="~/Content/css/login/js/main.js"></script>
<link href="~/Content/css/login/css/style.css" rel="stylesheet" />


<div style="background-image: url(/images/bg.png); ">
    <div class="container mainLogin  pt-3">

        <div class="row justify-content-center   ">
            <div class="col-md-7 col-lg-5 mb-5 transparent-background  ">
                <div class="wrap ">
                    <div class="img ">

                        <img src="~/images/logo/logo1200.png" />
                    </div>
                    <div class="login-wrap  p-4 p-md-5">
                        <div class="d-flex">
                            <div class="w-100">
                                <h3 class="mb-4 text-white text-center">Quên mật khẩu </h3>
                            </div>
                            <div class="w-100 hide">
                                <p class="social-media d-flex justify-content-end">
                                    <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a>
                                    <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a>
                                </p>
                            </div>
                        </div>
                        <form id="ForgotPassForm" enctype="multipart/form-data" class="signin-form">
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)


                            <div class="form-group mt-3">
                                <input type="text" class="form-control " name="userInput" id="userInput" required>
                                <label class="form-control-placeholder" name="userInput" id="userInput" for="username">Số điện thoại hoặc email</label>
                            </div>
                            <div class="form-group d-md-flex">
                                <div class="w-100 text-center text-white">
                                    <a href="#" class="text-white">Gửi mã khôi phục tài khoản</a>
                                </div>
                                @*<div class="w-50 text-md-right">
                <a href="#">Bạn không nhớ mật khẩu ?</a>
            </div>*@
                            </div>
                            <div class="form-group">
                                <button type="submit" class="form-control btn btn-primary rounded submit px-3">
                                    Gửi mã
                                </button>
                            </div>

                        </form>
                        <p class="text-center text-white"><a class="text-danger" href="/dang-nhap">Đăng nhập</a>  <a class="text-danger" href="/dang-ky">Đăng ký</a></p>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

<script src="~/Scripts/ProductClient/js/jquery-3.2.1.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>



<script>




    $(document).ready(function () {

        $('#ForgotPassForm').submit(function (event) {
            event.preventDefault();
            let isValid = validateForm();

            const formData = $('#ForgotPassForm').serialize();
            const token = $('input[name="__RequestVerificationToken"]').val();
            if (isValid) {
                const userInput = $('#userInput').val().trim();
               
                $.ajax({
                    url: '/Account/ForgotPassword',
                    type: 'POST',
                    data: formData,
                    success: function (res) {

                        if (res.Success) {

                            createToast('success', 'fa-solid fa-circle-check', 'Thành công', res.msg);

                            const url = res.redirectUrl;
                            sessionStorage.setItem('CustomerId', res.customerId);
                            if (res.CustomerId > 0 && res.Email) {
                                
                                console.log("encodedEmail", res.Email);
                                var encodedEmail = encodeURIComponent(res.Email);
                                console.log("encodedEmail", encodedEmail);
                                setTimeout(() => {
                                    var url = `/Account/RessetPass?id=${res.CustomerId}&email=${encodeURIComponent(res.Email)}`;
                                    window.location.href = url;

                                    

                                }, 1500);
                            } 

                        } else {
                            createToast('warning', 'fa-solid fa-triangle-exclamation', 'Chú ý', res.msg);
                        }


                    },
                    error: function (xhr) {
                        createToast('warning', 'fa-solid fa-triangle-exclamation', 'Chú ý', res.msg);
                        console.error(xhr.responseText);
                    }
                });
            }

        });
    });


    function validateForm() {
        const userInput = $('#userInput').val().trim();
     
        const allFields = [
            'userInput'
        ];

        const isAllEmpty = allFields.every(id => $(`#${id}`).val().trim() === "");

        if (isAllEmpty) {
            createToast('warning', 'fa-solid fa-triangle-exclamation', 'Chú ý', 'Vui lòng nhập đầy đủ');
            return false;
        }
        let isValid = true;
        if (!userInput) {
            createToast('warning', 'fa-solid fa-triangle-exclamation', 'Chú ý', 'Vui lòng nhập đầy đủ');
            isValid = false;
        }
       

        return isValid;
    }



    function createToast(type, icon, title, text) {

        const notifications = document.querySelector('.notifications');
        if (!notifications) {
            console.warn('Không tìm thấy phần tử notifications trong DOM');
            return;
        }

        let newToast = document.createElement('div');
        newToast.innerHTML = `
            <div class="toastNotifi ${type}">
                <i class="${icon}"></i>
                <div class="content">
                    <div class="title">${title}</div>
                    <span>${text}</span>
                </div>
                <i class="close fa-solid fa-xmark" onclick="this.parentElement.remove()"></i>
            </div>`;
        notifications.appendChild(newToast);


        newToast.timeOut = setTimeout(() => newToast.remove(), 5000);
    }
</script>
