@model List<CuaHangBanDienThoai.Models.ProductColorViewModel>
@if (Model != null)
{
    foreach (var item in Model)
    {
        if (ViewBag.Capacity == item.Capacity)
        {
            <a href="/dtdd/iphone-16-pro" data-index="0" class="box03__item item act">@item.Capacity.Trim()</a>
        }
        else
        {
            <a href="/dtdd/iphone-16-pro" data-index="0" class="box03__item item ">@item.Capacity.Trim()</a>
        }


    }
}
