<!DOCTYPE html>
<html>

<head>
    <title>Phiếu nhập</title>
</head>

<body>
    <div style="margin-top: 2rem; text-align: center">
        <h1 style="font-size: 2rem; margin-bottom: 0.5rem">
            <span style="color: red">PADA</span>MiniStore
        </h1>
        <p style="font-size: 1.2rem; color: #6c757d">
            Cửa hàng bán thiết bị điện thoại di dộng
        </p>
        <small>Dường dây hỗ trợ: 0329867771</small>
    </div>

    <hr />

    <div style="text-align: center">
        <h2 style="color: red">Phiếu nhập</h2>
        <small>Ngày nhập: #{{Day}}</small><br />
        <small>Mã phiếu: #{{ImportWarehouseId}}</small>
    </div>

    <hr />

    <div>
        <h3><u>Bên cung cấp</u>: #{{SupplierName}}</h3>
        <p style="text-align: left; padding-left: 20px">Địa chỉ: #{{Location}}</p>
        <p style="text-align: left; padding-left: 20px">
            Số điện thoại: 0#{{Phone}}
        </p>
    </div>

    <div>
        <h3>
            <u>Bên mua</u>: Cửa hàng bán thiết bị điện thoại di dộng
            <span style="color: red">PADA</span>MiniStore
        </h3>
        <p style="text-align: left; padding-left: 20px">
            Địa chỉ: 140 Đ. Lê Trọng Tấn, Tây Thạnh, Tân Phú, Thành phố Hồ Chí Minh,
            Việt Nam
        </p>
        <p style="text-align: left; padding-left: 20px">
            Số điện thoại: 0329867771 - 077264673
        </p>
    </div>

    <hr />

    <div>
        <h5>Thông tin người nhận</h5>
        <p>Họ tên người nhận: #{{CreatedBy}}</p>
        <p>Ngày lập phiếu: #{{CreateDate}}</p>
    </div>

    <div>
        <p>Tổng số lượng sản phẩm: #{{TotalQuantity}}</p>
    </div>

    <div style="margin-top: 2rem; text-align: center">
        <h5><span style="color: red">PADA</span>MiniStore</h5>

    </div>
    <div style="page-break-before: always;"></div>

    <div style="margin-top: 2rem; text-align: center;">
        <div style="text-align: center">
            <b>Danh sách sản phẩm</b>
            <table border="1" style="border-collapse: collapse; width: 100%; margin: 0 auto">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Tên sản phẩm</th>
                        <th>Dung lượng/Màu</th>
                        <th>Số lượng</th>
                    </tr>
                </thead>
                <tbody>
                    #{{ProductRows}}
                </tbody>
            </table>
        </div>

        <div style="margin-top: 2rem; text-align: center">
            <h5><span style="color: red">PADA</span>MiniStore</h5>
            <p>Cửa hàng mua bán thiết bị điện thoại di dộng</p>
            <p>Dường dây hỗ trợ: 0329867771</p>
            <p>giathuan.com</p>
        </div>
    </div>


</body>

</html>