<div id=":mv" class="ii gt"
     jslog="20277; u014N:xr6bB; 1:WyIjdGhyZWFkLWY6MTgxNDQwODYxNjkwNDY1NTkxNCJd; 4:WyIjbXNnLWY6MTgxNDQwODYxNjkwNDY1NTkxNCIsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLDBd">
    <div id=":mu" class="a3s aiL msg2180503523173570383">
        <u></u>
        <div style="margin:0;padding:0" dir="ltr" bgcolor="#ffffff">
            <table border="0" cellspacing="0" cellpadding="0" align="center" id="m_2180503523173570383email_table"
                   style="border-collapse:collapse">
                <tbody>
                    <tr>
                        <td id="m_2180503523173570383email_content"
                            style="font-family:Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;background:#ffffff">
                            <table border="0" width="100%" cellspacing="0" cellpadding="0"
                                   style="border-collapse:collapse">
                                <tbody>
                                    <tr>
                                        <td height="20" style="line-height:20px" colspan="3">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td height="1" colspan="3" style="line-height:1px"></td>
                                    </tr>
                                    <tr>
                                        <td width="15" style="display:block;width:15px">&nbsp;&nbsp;&nbsp;</td>
                                        <td>
                                            <table border="0" width="100%" cellspacing="0" cellpadding="0"
                                                   style="border-collapse:collapse">
                                                <tbody>
                                                    <tr>
                                                        <td height="15" style="line-height:15px" colspan="3">&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td width="32" align="left" valign="middle"
                                                            style="height:32;line-height:0px">
                                                            <img width="32"
                                                                 src="https://pada.com.vn/Uploads/images/logo2.png"
                                                                 height="32" style="border:0" class="CToWUd"
                                                                 data-bit="iit">
                                                        </td>
                                                        <td width="15" style="display:block;width:15px">
                                                            &nbsp;&nbsp;&nbsp;
                                                        </td>
                                                        <td width="100%"><span></span></td>
                                                    </tr>
                                                    <tr style="border-bottom:solid 1px #e5e5e5">
                                                        <td height="15" style="line-height:15px" colspan="3">&nbsp;</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                        <td width="15" style="display:block;width:15px">&nbsp;&nbsp;&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td width="15" style="display:block;width:15px">&nbsp;&nbsp;&nbsp;</td>
                                        <td>
                                            <table border="0" width="100%" cellspacing="0" cellpadding="0"
                                                   style="border-collapse:collapse">
                                                <tbody>
                                                    <tr>
                                                        <td height="20" style="line-height:20px">&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <span class="m_2180503523173570383mb_text"
                                                                  style="font-family:Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:16px;line-height:21px;font-weight:bold;color:#141823">
                                                                <font size="4">Mã bảo mật khôi phục mật khẩu</font>
                                                            </span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td height="15" style="line-height:15px">&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <span class="m_2180503523173570383mb_text"
                                                                  style="font-family:Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:16px;line-height:21px;color:#141823">
                                                                Xin
                                                                chào {{TenKhachHang}},<p></p>
                                                                <div>
                                                                    Mã bảo mật của bạn là: <p></p>
                                                                    <table border="0" cellspacing="0" cellpadding="0"
                                                                           style="border-collapse:collapse">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td style="font-size:11px;font-family:LucidaGrande,tahoma,verdana,arial,sans-serif;padding:10px;background-color:#f2f2f2;border-left:none;border-right:none;border-top:none;border-bottom:none">
                                                                                    <span style="font-family:Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;
                                                                                        font-size:22px;line-height:36px;font-weight:bold;letter-spacing:5px;
                                                                                        margin-left:20px;margin-top:20px;margin-bottom:20px;margin-right:20px">{{Code}}</span>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                    <p></p> Để xác nhận danh tính của bạn trên
                                                                    Pada<span style="color:red">MiniStore</span>,
                                                                    chúng tôi cần xác minh địa chỉ email của bạn. Hãy
                                                                    dán mã này vào trình duyệt. Đây là mã dùng một lần.
                                                                    <br><br> Nếu bạn không yêu cầu mã nào, có thể ai đó
                                                                    đang cố truy cập vào tài khoản của bạn.
                                                                </div>
                                                                <p></p>
                                                            </span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td height="15" style="line-height:15px">&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <span class="m_2180503523173570383mb_text"
                                                                  style="font-family:Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:16px;line-height:21px;color:#141823">
                                                                <p>
                                                                    Cảm ơn bạn!<br>Đội ngũ bảo mật của Pada<span style="color:red">MiniStore</span>
                                                                </p>
                                                            </span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td height="15" style="line-height:15px">&nbsp;</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                        <td width="15" style="display:block;width:15px">&nbsp;&nbsp;&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td width="15" style="display:block;width:15px">&nbsp;&nbsp;&nbsp;</td>
                                        <td>
                                            <table border="0" width="100%" cellspacing="0" cellpadding="0" align="left"
                                                   style="border-collapse:collapse">
                                                <tbody>
                                                    <tr style="border-top:solid 1px #e5e5e5">
                                                        <td height="19" style="line-height:19px">&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-family:Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:11px;color:#aaaaaa;line-height:16px">
                                                            <table border="0" cellspacing="0" cellpadding="0"
                                                                   style="border-collapse:collapse;width:100%">
                                                                <tbody>
                                                                    <tr>

                                                                        <td align="center"
                                                                            style="font-size:11px;font-family:LucidaGrande,tahoma,verdana,arial,sans-serif;width:100% padding-bottom">
                                                                            từ
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td align="center"
                                                                            style="font-size:11px;font-family:LucidaGrande,tahoma,verdana,arial,sans-serif;width:100% padding-top;padding-bottom:6px">
                                                                            <img width="120" alt="pada" height="120"
                                                                                 src="https://pada.com.vn/Uploads/images/logo2.png"
                                                                                 style="border:0" class="CToWUd"
                                                                                 data-bit="iit">
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td align="center"
                                                                            style="font-size:11px;font-family:LucidaGrande,tahoma,verdana,arial,sans-serif;width:100% padding-top;padding-bottom:6px">
                                                                            © Pada<span style="color:red">MiniStore</span>. GT
                                                                            Platforms, 
                                                                            Dịch vụ cung cấp bởi <a href="https://www.giathuan.com" target="_blank" style="color:red; text-decoration:none;">giathuan.com</a>,
                                                                            Thành phố Hồ Chí Minh, Việt Nam.
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td align="center"
                                                                            style="font-size:11px;font-family:LucidaGrande,tahoma,verdana,arial,sans-serif;width:100% padding-top">
                                                                            Thư này đã được gửi đến <a style="color:#3b5998;text-decoration:none"
                                                                                                       href="mailto:{{Email}}"
                                                                                                       target="_blank">{{Email}}</a>.
                                                                            <br>Để bảo vệ tài khoản của bạn, vui lòng
                                                                            không chuyển tiếp email này.
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td align="center"
                                                                            style="font-size:11px;font-family:LucidaGrande,tahoma,verdana,arial,sans-serif;width:100% padding-top">
                                                                            &nbsp;&nbsp;({{NgayDat}})&nbsp;&nbsp;
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td height="10" style="line-height:10px">&nbsp;</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                        <td width="15" style="display:block;width:15px">&nbsp;&nbsp;&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td height="20" style="line-height:20px" colspan="3">&nbsp;</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="yj6qo"></div>
        <div class="adL">


        </div>
    </div>
</div>