
@{
    ViewBag.Title = "Thanh toán với VNPay thành công";
    Layout = "~/Views/Shared/_Layout.cshtml";


}




<div class="container">




    <div class="col-12 product_section clearfix">

        <!-- Breadcrumbs -->

        <div class="breadcrumbs d-flex flex-row align-items-center">
            <ul class="breadcrumbs mb-1 pl-0 pt-2 d-flex align-items-center " style="margin:0!important">
                <li class="breadcrumb-item m-0 p-0"><a href="/#">Thanh toán</a></li>
                <li class="breadcrumb-item active"> Thanh toán Online thành công</li>
            </ul>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="row" style="width: 100%;">
                    <div class="col-12" style="background-color: aquamarine; display: flex; justify-content: center; align-items: center; height: 10vh; width: 100%;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" style="color:white;" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
                            <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0" />
                            <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z" />
                        </svg>
                    </div>
                </div>



                <div class="row pt-2" style="width: 100%;">
                    <div class="col-md-12" style="display: flex; justify-content: center; align-items: center; " id="load_data">
                        <h2>Thanh toán Online thành công</h2>
                        <br />



                    </div>
                    <div class="col-md-12" style="display: flex; justify-content: center; align-items: center; " id="load_data">


                        <h5>Theo dõi đơn hàng      <a href="/tat-ca-don-hang/" class="text-danger">Tại đây</a></h5>


                    </div>
                    @if (ViewBag.Code != null)
                    {
                        <div class="col-md-12" style="display: flex; justify-content: center; align-items: center; " id="load_data">


                            <h5>Chi tiết đơn hàng    <a href="/muahangthanhcong/@(ViewBag.Code??"")" class="text-danger">Tại đây</a></h5>


                        </div>
                    }

                </div>
                <div class="row pt-2" style="width: 100%;">

                    <div class="col-md-12" style="display: flex; justify-content: center; align-items: center; " id="load_data">



                        <h5>Tiếp tục mua hàng <a href="/san-pham">Cửa hàng</a></h5>

                    </div>
                </div>
            </div>
        </div>




    </div>
</div>



