
@{
    ViewBag.Title = "Không tìm thấy dịch vụ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/css/Cart/css/Error.css" rel="stylesheet" />
<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1>Oops!</h1>
            <h2>404 - Không tìm thấy trang</h2>

        </div>
        <h5>Padastore Xin lỗi sự bất tiện này  !!!</h5>
        <a href="/trang-chu">Về cửa hàng</a>
    </div>
</div>
