


<!-- Sản phẩm -->
<div class="sidebar-heading">
    Quán lý
</div>
<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseHangSanPham"
       aria-expanded="true" aria-controls="collapseHangSanPham">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16">
            <path fill="currentColor" d="M12 0a12 12 0 1 0 12 12A12.014 12.014 0 0 0 12 0zm0 22a10 10 0 1 1 10-10 10.012 10.012 0 0 1-10 10zm0-18a8 8 0 1 0 8 8 8.009 8.009 0 0 0-8-8zm0 14a6 6 0 1 1 6-6 6.007 6.007 0 0 1-6 6z" />
        </svg>

        <span>Hãng sản phẩm</span>
    </a>
    <div id="collapseHangSanPham" class="collapse" aria-labelledby="headingHangSanPham" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Quản lý hãng sản phẩm:</h6>
            <a class="collapse-item" href="/hang-san-pham">Danh sách </a>
            <a class="collapse-item" href="/them-hang-san-pham">Thêm hãng</a>
        </div>
    </div>
</li>
<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseDanhMucSanPham"
       aria-expanded="true" aria-controls="collapseDanhMucSanPham">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16">
            <path fill="currentColor" d="M3 3h18v2H3V3zm0 6h18v2H3V9zm0 6h18v2H3v-2zm0 6h18v2H3v-2z" />
        </svg>

        <span>Danh mục sản phẩm</span>
    </a>
    <div id="collapseDanhMucSanPham" class="collapse" aria-labelledby="headingDanhMucSanPham" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Quản lý hãng sản phẩm:</h6>
            <a class="collapse-item" href="/danh-muc-san-pham">Danh sách </a>
            <a class="collapse-item" href="/them-danh-muc-san-pham">Thêm danh mục</a>
        </div>
    </div>
</li>
<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSanPham"
       aria-expanded="true" aria-controls="collapseSanPham">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16">
            <path fill="currentColor" d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-1 17h-2v-2h2v2zm0-4h-2v-6h2v6zm3 4h-2v-2h2v2zm0-4h-2v-6h2v6zm3 4h-2v-2h2v2zm0-4h-2v-6h2v6z" />
        </svg>

        <span> Sản phẩm</span>
    </a>
    <div id="collapseSanPham" class="collapse" aria-labelledby="headingSanPham" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Quản lý sản phẩm:</h6>
            <a class="collapse-item" href="/san-pham">Danh sách</a>
           
            <a class="collapse-item" href="/them-san-pham">Thêm sản phẩm</a>
        </div>
    </div>
</li>

<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSanPhamCon"
       aria-expanded="true" aria-controls="collapseSanPhamCon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16">
            <path fill="currentColor" d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-1 17h-2v-2h2v2zm0-4h-2v-6h2v6zm3 4h-2v-2h2v2zm0-4h-2v-6h2v6zm3 4h-2v-2h2v2zm0-4h-2v-6h2v6z" />
        </svg>

        <span> Sản phẩm con</span>
    </a>
    <div id="collapseSanPhamCon" class="collapse" aria-labelledby="headingSanPhamCon" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Quản lý sản phẩm con:</h6>
            <a class="collapse-item" href="/san-pham-con">Danh sách</a>

            <a class="collapse-item" href="/them-san-pham">Thêm sản phẩm</a>
        </div>
    </div>
</li>
<!--end Sản phẩm -->
<!-- Nav Item - Pages Collapse Menu -->

<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
       aria-expanded="true" aria-controls="collapseTwo">
        @*<i class="fas fa-fw fa-cog"></i>*@
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-seam" viewBox="0 0 16 16">
            <path d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5l2.404.961L10.404 2zm3.564 1.426L5.596 5 8 5.961 14.154 3.5zm3.25 1.7-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464z" />
        </svg>
        <span>Đơn hàng</span><span class="text-danger pl-1 CountBillNew"></span>
    </a>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Quản lý đơn hàng:</h6>
            <a class="collapse-item" href="/quan-ly-don-hang">Tất cả đơn</a>
            <a class="collapse-item" href="/don-chua-xu-ly">Chưa xử lý <span class="text-danger CountBillNew"></span></a>

            @*<a class="collapse-item"  href="/len-don">Lên đơn</a>*@
        </div>
    </div>
</li>
<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseEmp"
       aria-expanded="true" aria-controls="collapseEmp">
        <i class="fa-solid fa-user-group"></i>
        <span>Nhân viên</span>
    </a>
    <div id="collapseEmp" class="collapse" aria-labelledby="headingEmp"
         data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Quản lý nhân viên</h6>
            <a class="collapse-item" href="/quan-ly-nhan-vien">Tất cả</a>

        </div>
    </div>
</li>
<!-- Nav Item - Utilities Collapse Menu -->
<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
       aria-expanded="true" aria-controls="collapseUtilities">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>Thống kê</span>
    </a>
    <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
         data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Thống kê</h6>
            <a class="collapse-item" href="/thongkedoanhthu">Tất cả</a>

        </div>
    </div>
</li>
<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseVoucher"
       aria-expanded="true" aria-controls="collapseVoucher">
        <i class="fas fa-fw fa-ticket-alt"></i>

        <span>Voucher</span>
    </a>
    <div id="collapseVoucher" class="collapse" aria-labelledby="headingVoucher"
         data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header"> Quản lý voucher</h6>
            <a class="collapse-item" href="/quan-ly-voucher">Tất cả</a>

        </div>
    </div>
</li>
<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCustomer"
       aria-expanded="true" aria-controls="collapseCustomer">
        <i class="fa-solid fa-user"></i>

        <span>Khách hàng</span>
    </a>
    <div id="collapseCustomer" class="collapse" aria-labelledby="headingCustomer"
         data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header"> Tài khoản khách hàng</h6>
            <a class="collapse-item" href="/quan-ly-tai-khoan-khach-hang">Tất cả</a>

        </div>
    </div>
</li>

<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSeller"
       aria-expanded="true" aria-controls="collapseSeller">
        <i class="bi bi-calendar3-week-fill"></i>
        <span>Bán hàng</span>
    </a>
    <div id="collapseSeller" class="collapse" aria-labelledby="headingSeller"
         data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header"> Quản lý bán hàng</h6>
            <a class="collapse-item" href="/tat-ca-hoa-don">Tất cả hoá đơn</a>
            <a class="collapse-item" href="/ban-hang">Trang bán hàng</a>


        </div>
    </div>
</li>
<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSupplier"
       aria-expanded="true" aria-controls="collapseSupplier">
        <i class="bi bi-calendar3-week-fill"></i>
        <span>Nhà cung cấp</span>
    </a>
    <div id="collapseSupplier" class="collapse" aria-labelledby="headingSupplier"
         data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header"> Quản lý nhà cung cấp</h6>
            <a class="collapse-item" href="/danh-sach-nhacungcap">Danh sách nhà cung cấp</a>
            <a class="collapse-item" href="/tao-moi-nhacungcap">Thêm nhà cung cấp</a>


        </div>
    </div>
</li>
<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseImportWareHouse"
       aria-expanded="true" aria-controls="collapseImportWareHouse">
        <i class="bi bi-calendar3-week-fill"></i>
        <span>Nhập kho</span>
    </a>
    <div id="collapseImportWareHouse" class="collapse" aria-labelledby="headingImportWareHouse"
         data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header"> Quản lý phiếu nhập</h6>
            <a class="collapse-item" href="/danh-sach-phieunhap">Danh sách phiếu nhập</a>
            <a class="collapse-item" href="/lap-phieunhap">Lập phiếu nhập</a>
        </div>
    </div>
</li>
<!-- Divider -->
<hr class="sidebar-divider">

<!-- Heading -->
<div class="sidebar-heading ">
    Trang Web
</div>
<!-- Nav Item - Pages NEwss-->

<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseNews"
       aria-expanded="true" aria-controls="collapseNews">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-newspaper" viewBox="0 0 16 16">
            <path d="M0 2.5A1.5 1.5 0 0 1 1.5 1h11A1.5 1.5 0 0 1 14 2.5v10.528c0 .3-.05.654-.238.972h.738a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 1 1 0v9a1.5 1.5 0 0 1-1.5 1.5H1.497A1.497 1.497 0 0 1 0 13.5zM12 14c.37 0 .654-.211.853-.441.092-.106.147-.279.147-.531V2.5a.5.5 0 0 0-.5-.5h-11a.5.5 0 0 0-.5.5v11c0 .278.223.5.497.5z" />
            <path d="M2 3h10v2H2zm0 3h4v3H2zm0 4h4v1H2zm0 2h4v1H2zm5-6h2v1H7zm3 0h2v1h-2zM7 8h2v1H7zm3 0h2v1h-2zm-3 2h2v1H7zm3 0h2v1h-2zm-3 2h2v1H7zm3 0h2v1h-2z" />
        </svg>
        <span>  Bài viết</span>
    </a>
    <div id="collapseNews" class="collapse" aria-labelledby="headingNews" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Quản lý bài viết </h6>
            <a class="collapse-item" href="/quan-ly-bai-viet">Tất cả</a>
            <a class="collapse-item" href="/them-moi-bai-viet">Tạo mới</a>

        </div>
    </div>
</li>

<!-- Nav Item - Pages Bannẻr-->


<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBanner"
       aria-expanded="true" aria-controls="collapseBanner">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6.827 6.175A2.31 2.31 0 0 1 5.186 7.23c-.38.054-.757.112-1.134.175C2.999 7.58 2.25 8.507 2.25 9.574V18a2.25 2.25 0 0 0 2.25 2.25h15A2.25 2.25 0 0 0 21.75 18V9.574c0-1.067-.75-1.994-1.802-2.169a47.865 47.865 0 0 0-1.134-.175 2.31 2.31 0 0 1-1.64-1.055l-.822-1.316a2.192 2.192 0 0 0-1.736-1.039 48.774 48.774 0 0 0-5.232 0 2.192 2.192 0 0 0-1.736 1.039l-.821 1.316Z" />
            <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 12.75a4.5 4.5 0 1 1-9 0 4.5 4.5 0 0 1 9 0ZM18.75 10.5h.008v.008h-.008V10.5Z" />
        </svg>

        <span> Banner</span>
    </a>
    <div id="collapseBanner" class="collapse" aria-labelledby="headingBanner" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Quản lý Banner </h6>
            <a class="collapse-item" href="/quanly-banner">Tất cả</a>
            <a class="collapse-item" href="/them-moi-banner">Tạo mới</a>

        </div>
    </div>
</li>

<!-- Nav Item - Charts -->

<hr class="sidebar-divider">
<li class="nav-item">
    <a class="nav-link" href="/admin/account/Logout">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0z" />
            <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708z" />
        </svg>
        <span>Đăng Xuất</span>
    </a>
</li>