<!-- Sản phẩm -->
<div class="sidebar-heading">
    Quán lý
</div>
<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSeller"
       aria-expanded="true" aria-controls="collapseSeller">
        <i class="bi bi-calendar3-week-fill"></i>
        <span>Bán hàng</span>
    </a>
    <div id="collapseSeller" class="collapse" aria-labelledby="headingSeller"
         data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header"> Quản lý bán hàng</h6>
            
            <a class="collapse-item" href="/ban-hang">Trang bán hàng</a>


        </div>
    </div>
</li>


<!-- Nav Item - Charts -->

<hr class="sidebar-divider">
<li class="nav-item">
    <a class="nav-link" href="/admin/account/Logout">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0z" />
            <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708z" />
        </svg>
        <span>Đăng Xuất</span>
    </a>
</li>