
@{
    ViewBag.Title = "Bán hàng" + ViewBag.Date;
    Layout = "~/Areas/Admin/Views/Shared/_LayoutSeller.cshtml";
}

<link href="~/Content/css/admin/SellerIndex.css" rel="stylesheet" />
<div class="bg-sg" style="display: none ">

</div>


<div id="popupBill" style="display: none">
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <div class="card-title">
                <h5>
                    Thông tin đơn hàng
                </h5>
            </div>
            <div class="card-tools">
                <div class="btn btnCloseEditBill">
                    <svg xmlns="http://www.w3.org/2000/svg" style="color:red" width="16" height="16" fill="currentColor" class="bi bi-x-octagon-fill" viewBox="0 0 16 16">
                        <path d="M11.46.146A.5.5 0 0 0 11.107 0H4.893a.5.5 0 0 0-.353.146L.146 4.54A.5.5 0 0 0 0 4.893v6.214a.5.5 0 0 0 .146.353l4.394 4.394a.5.5 0 0 0 .353.146h6.214a.5.5 0 0 0 .353-.146l4.394-4.394a.5.5 0 0 0 .146-.353V4.893a.5.5 0 0 0-.146-.353zm-6.106 4.5L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708" />
                    </svg>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div id="loadDataBillEdit">
                <div class="text-center">
                    <img src="~/Content/ckfinder/ckfinder/plugins/gallery/colorbox/images/loading.gif" />
                </div>


            </div>
        </div>

    </div>
</div>

<div class="container-fluid p-0 m-0">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-6">
            <h1 class="h3 mb-2 text-gray-800">Hệ thống bán hàng </h1>


        </div>
        <div class="col-6 ">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="/hethongquanly">Trang chủ </a></li>

                <li class="breadcrumb-item active">Bán hàng @(ViewBag.Date ??"") </li>

            </ol>

        </div>
    </div>

    <!-- DataTales Example -->
    <div class="card shadow mb-4 pb-5" style="height:auto;">


        <div class="card-body p-0" id="loaddata">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 p-0 ">
                    <nav class="mb-0">
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Thông tin chung</button>
                            <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Đơn hàng</button>
                            <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Giỏ hàng</button>
                        </div>
                    </nav>
                    <div class="tab-content  m-0 p-0 w-100" id="nav-tabContent">
                        <div class="tab-panem- m-2 mt-3 fade active show" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                            <div class="row p-0 m-0 w-100">
                                <div class="col-lg-6  p-0 m-0 pr-2">
                                    <div class="card  p-0 m-0 ">
                                        <div class="card-header  ">
                                            <div class="row">
                                                <div class="col-2">
                                                    <h6 class="m-0 font-weight-bold text-primary">
                                                        Sản phẩm

                                                    </h6>
                                                </div>

                                                <div class="col-10 d-flex justify-content-end">
                                                    <div class="form-group app-label d-flex flex-column m-0 position-relative bg-white">
                                                        <b class="label-title">Dòng sản phẩm</b>
                                                        <div class="input-group align-items-center">
                                                            @Html.DropDownList("ProductsId", (SelectList)ViewBag.Product, "Tất cả",
                                                                new { @class = "form-select bg-white p-2 SelectList", @id = "productChose" })
                                                        </div>
                                                    </div>

                                                    <div class="d-none d-sm-inline-block form-inline ml-2 my-2 my-md-0 mw-100 navbar-search">
                                                        <div class="input-group">
                                                            <input type="text" class="form-control border-2 small" placeholder="Tìm sản phẩm..."
                                                                   aria-label="Search" aria-describedby="basic-addon2" id="searchinput">
                                                            <div class="input-group-append">
                                                                <button class="btn btn-primary" type="button" id="searchbtn">
                                                                    <i class="fas fa-search fa-sm"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <div class=" algin-item-center text-center hide loaddingProduct">
                                            <img src="~/images/gif/loading.gif" />
                                            <span>Tải dữ liệu </span>
                                        </div>
                                        <div class="card-body  p-0 m-0 body" id="loaddataProduct" style="height: 800px ">
                                            <div class="p-0 m-0 w-100" style="max-height: 800px; overflow-y: auto">
                                                @Html.Action("Partail_Product", "Seller")
                                            </div>
                                          
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6   p-0 m-0 pl-2">
                                    <div class="card  p-0 m-0 ">
                                        <div class="card-header  ">
                                            <div class="row">
                                                <div class="col-2">
                                                    <h6 class="m-0 font-weight-bold text-primary">
                                                        Hoá đơn

                                                    </h6>
                                                </div>

                                                <div class="col-10 text-right">
                                                    <h6 class="m-0 font-weight-bold text-dark">
                                                        Số sản phẩm <span class="text-danger">10</span>

                                                    </h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body  p-0 m-0 "id="listProductItem" style="max-height:500px; overflow-y:auto">
                                          









                                        </div>
                                        <div class="card-footer bg-white" style="min-height: 100px;">
                                            <div class="row p-0 m-0 w-100">
                                                <div class="col-12 d-flex justify-content-between align-items-center">
                                                    <h6 class="m-0">Tạm tính</h6>
                                                    <p class="m-0 text-danger "><span id="totalPrice">
                                                           </span></p>
                                                </div>
                                                <hr class="col-12" />

                                                <div class="col-12 d-flex mb-2">
                                                    <div class="d-none d-sm-inline-block form-inline mr-auto my-2 my-md-0 mw-100 navbar-search" style="width:100%!important">
                                                        <div class="input-group mw-100">
                                                            <input type="text" class="form-control mw-100 border-2 small" placeholder="Thông tin khách hàng..."
                                                                   aria-label="Search" aria-describedby="basic-addon2" id="searchinput" action="@Url.Action("SearchProduct", "Product")" method="get">
                                                            <div class="input-group-append">
                                                                <button class="btn btn-primary" type="button" id="searchbtn">
                                                                    <i class="fas fa-search fa-sm"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="custom-fieldset">
                                                    <div class="custom-legend">Thông tin khách hàng</div>
                                                    <div class="col-12 customer-details p-3 rounded">
                                                        <p class="m-0 customer-name"><strong>Tên:</strong> Huỳnh Thuận</p>
                                                        <p class="m-0 customer-phone"><strong>SĐT:</strong> 0329867711</p>
                                                    </div>
                                                    <button type="button" class="btn btn-success align-items-center text-center mt-2  w-100">Bán hàng</button>
                                                </div>

                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                            <div class="pt-1 p-3">
                                <p> text</p>
                            </div>
                        </div>
                    </div>
                </div>


            </div>



        </div>
    </div>
</div>
@section scripts{
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <script src="~/Scripts/admin/Seller_Index.js"></script>
    <script>
        function stepper(button) {
            const input = document.getElementById("quantity_value"); // Lấy input cần điều chỉnh
            let currentValue = parseInt(input.value); // Lấy giá trị hiện tại (chuyển sang số nguyên)
            const min = parseInt(input.getAttribute("min")) || 1; // Giá trị tối thiểu (mặc định 1)
            const max = parseInt(input.getAttribute("max")) || 10; // Giá trị tối đa (mặc định 10)
            const step = parseInt(input.getAttribute("step")) || 1; // Bước nhảy (mặc định 1)

            if (button.id === "increment" && currentValue < max) {
                input.value = currentValue + step; // Tăng giá trị
            } else if (button.id === "decrement" && currentValue > min) {
                input.value = currentValue - step; // Giảm giá trị
            }
        }

    </script>
}

